.login-button {
    color: rgb(124, 124, 124);
    border: 1px solid rgb(156, 156, 156);
    font-size: 0.8em;
    margin: 0 10px;
    padding: 2px 10px;

    &:hover {
        background: #f8f8f8;
    }

    @media screen and (max-width: 768px) {
        border: none;
    }
}